

/*                                      */
header {
  padding: 20px 30px;
}

main {
  padding: 0 30px;
}

main > .temp-today {
  height: 400px;
}

main > .temp-today > :first-child {
  width: 50%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

main > .temp-today > :nth-child(2) {
  width: 50%;
  height: 70%;
  align-items: center;
}

main > .temp-today > .temp-info {
  height: 30%;
  grid-template-columns: repeat(4, auto);
}

main > .temp-week {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 34px repeat(2, 260px);
  grid-template-areas:
    "head head head"
    "day humidity uv"
    "wind schedule map";
  gap: 15px;
}

main > .temp-week > .head {
  grid-area: head;
}

main > .temp-week > .day-forecast > .day-details {
  grid-area: day;
  padding: 29.2px;
}

main > .temp-week > .day-forecast > .day-details > div:nth-child(6),
main > .temp-week > .day-forecast > .day-details > div:nth-child(7) {
  display: none;
}

main > .temp-week > .humidity,
main > .temp-week > .uv-index,
main > .temp-week > .wind,
main > .temp-week > .schedule {
  padding: 15px;
}

main > .temp-week > .humidity {
  grid-area: humidity;
}

main > .temp-week > .uv-index {
  grid-area: uv;
}

.wind {
  grid-area: wind;
}

main > .temp-week > .wind > .sec-two-wind > .direction-wind {
  width: 110px;
  height: 110px;
}

main > .temp-week > .wind > .sec-two-wind > .wind-details {
  width: calc(100% - 120px);
}

main > .temp-week > .schedule {
  grid-area: schedule;
}

main > .temp-week > .map {
  grid-area: map;
}

main > .temp-week > .map img {
  height: 100%;
}

footer {
  margin-top: 20px;
}